# Dependencies
node_modules

# Build output
dist

# Environment files
.env

# IDE & system
.gemini
*.log
*.txt
build_result*

# Frontend
frontend/node_modules
frontend/dist

# Backend
backend/node_modules
